<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
  <property name="hibernate.connection.password">B3ll3p0qu3#1</property>
  <property name="hibernate.connection.url">jdbc:sqlserver://ssouzadev.cnghcmxcq3nb.sa-east-1.rds.amazonaws.com:1433;databaseName=nfe_dev1</property>
  <property name="hibernate.connection.username">ssouza</property>
  <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hbm2ddl.auto">update</property>
  <mapping class="br.com.ssouzasolucoesfiscais.model.Arquivo"/>
  <mapping class="br.inf.portalfiscal.nfe.TNfeProc"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe"/>
  <mapping class="br.inf.portalfiscal.nfe.TProtNFe"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFeSupl"/>
  <mapping class="org.w3._2000._09.xmldsig_.SignatureType"/>
  <mapping class="br.inf.portalfiscal.nfe.TProtNFe$InfProt"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Avulsa"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Cana"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Cobr"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Compra"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Dest"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Emit"/>
  <mapping class="br.inf.portalfiscal.nfe.TLocal"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Exporta"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Ide"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$InfAdic"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Pag"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Total"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Transp"/>
  <mapping class="org.w3._2000._09.xmldsig_.KeyInfoType"/>
  <mapping class="org.w3._2000._09.xmldsig_.SignatureValueType"/>
  <mapping class="org.w3._2000._09.xmldsig_.SignedInfoType"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Cobr$Fat"/>
  <mapping class="br.inf.portalfiscal.nfe.TEndereco"/>
  <mapping class="br.inf.portalfiscal.nfe.TEnderEmi"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Total$ICMSTot"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Total$ISSQNtot"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Total$RetTrib"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Transp$RetTransp"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Transp$Transporta"/>
  <mapping class="br.inf.portalfiscal.nfe.TVeiculo"/>
  <mapping class="org.w3._2000._09.xmldsig_.X509DataType"/>
  <mapping class="org.w3._2000._09.xmldsig_.SignedInfoType$CanonicalizationMethod"/>
  <mapping class="org.w3._2000._09.xmldsig_.ReferenceType"/>
  <mapping class="org.w3._2000._09.xmldsig_.SignedInfoType$SignatureMethod"/>
  <mapping class="org.w3._2000._09.xmldsig_.ReferenceType$DigestMethod"/>
  <mapping class="org.w3._2000._09.xmldsig_.TransformsType"/>
  <mapping class="org.w3._2000._09.xmldsig_.TransformType"/>
  <mapping class="org.w3._2000._09.xmldsig_.TransformType$TransformTypeXPathItem"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Transp$Vol"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Transp$Vol$Lacres"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Pag$DetPag"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Pag$DetPag$Card"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$InfAdic$ProcRef"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$InfAdic$ObsFisco"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$InfAdic$ObsCont"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Ide$NFref"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Ide$NFref$RefECF"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Ide$NFref$RefNF"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Ide$NFref$RefNFP"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Cobr$Dup"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Cana$ForDia"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Cana$Deduc"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Imposto"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$ImpostoDevol"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Prod"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$ImpostoDevol$IPI"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Prod$Comb"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Prod$Med"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Prod$VeicProd"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Prod$Comb$CIDE"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Prod$Comb$Encerrante"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Prod$Rastro"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Prod$DetExport"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Prod$DetExport$ExportInd"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Prod$Arma"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Prod$ProdNVEItem"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Prod$DI"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Prod$DI$Adi"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Imposto$ImpostoContentItem"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Imposto$COFINS"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Imposto$COFINSST"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Imposto$ICMS"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Imposto$ICMSUFDest"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Imposto$II"/>
  <mapping class="br.inf.portalfiscal.nfe.TIpi"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Imposto$ISSQN"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Imposto$PIS"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Imposto$PISST"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Imposto$COFINS$COFINSAliq"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Imposto$COFINS$COFINSNT"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Imposto$COFINS$COFINSOutr"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Imposto$COFINS$COFINSQtde"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Imposto$ICMS$ICMS00"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Imposto$ICMS$ICMS10"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Imposto$ICMS$ICMS20"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Imposto$ICMS$ICMS30"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Imposto$ICMS$ICMS40"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Imposto$ICMS$ICMS51"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Imposto$ICMS$ICMS60"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Imposto$ICMS$ICMS70"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Imposto$ICMS$ICMS90"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Imposto$ICMS$ICMSPart"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Imposto$ICMS$ICMSSN101"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Imposto$ICMS$ICMSSN102"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Imposto$ICMS$ICMSSN201"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Imposto$ICMS$ICMSSN202"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Imposto$ICMS$ICMSSN500"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Imposto$ICMS$ICMSSN900"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Imposto$ICMS$ICMSST"/>
  <mapping class="br.inf.portalfiscal.nfe.TIpi$IPINT"/>
  <mapping class="br.inf.portalfiscal.nfe.TIpi$IPITrib"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Imposto$PIS$PISAliq"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Imposto$PIS$PISNT"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Imposto$PIS$PISOutr"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$Det$Imposto$PIS$PISQtde"/>
  <mapping class="br.inf.portalfiscal.nfe.TNFe$InfNFe$AutXML"/>
 </session-factory>
</hibernate-configuration>
